DATABASE_URL=your_postgress_connection_string
TACTON_BASE_URL=tacton_base_url_ending_without_slash
TACTON_API_VERSION=tacton_api_version
TACTON_GRANT_TYPE=tacton_grant_type
TACTON_CLIENT_ID=tacton_lient_id
TACTON_CLIENT_SECRET=tacton_client_secret
TACTON_REFRESH_TOKEN=tacton_refresh_token