DATABASE_URL=your_postgress_connection_string

TACTON_BASE_URL=tacton_base_url_ending_without_slash
TACTON_API_VERSION=tacton_api_version
TACTON_GRANT_TYPE=tacton_grant_type
TACTON_CLIENT_ID=tacton_lient_id
TACTON_CLIENT_SECRET=tacton_client_secret
TACTON_REFRESH_TOKEN=tacton_refresh_token

NEXTAUTH_URL=nextauth_url
NEXTAUTH_SECRET=nextauth_secret
NEXT_PUBLIC_AZURE_LOGOUT_REDIRECT_URI=azure_logout_redirect_uri_for_frontend

AZURE_AD_CLIENT_ID=azure_ad_client_id
AZURE_AD_TENANT_ID=azure_ad_tenant_id
AZURE_AD_CLIENT_SECRET=azure_ad_client_secret

DB_MIGRATION_SECRET=db_migration_secret